 <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới người dùng
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> Trang chủ</li>
        <li>Người dùng</li>
        <li><a ui-sref="application_users">Danh mục người dùng</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddApplicationUser" role="form" ng-submit="addApplicationUser()">
            <div class="box-body">
                <div class="form-group" 
                     ng-class="{ 'has-error' : frmAddApplicationUser.name.$invalid && !frmAddApplicationUser.name.$pristine }">
                    <label for="inputName" class="col-sm-2 control-label">Họ và tên người dùng</label>
                    <div class="col-sm-10">
                        <input type="text" required required-message="Họ và tên bắt buột" class="form-control" name="name" 
                               ng-model="applicationUser.FullName" id="inputName" placeholder="Họ và tên">
                        <span ng-message="required" class="help-block"
                             ng-if="frmAddApplicationUser.name.$invalid && !frmAddApplicationUser.name.$pristine">Họ và tên bắt buột</span>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : frmAddApplicationUser.userName.$invalid && !frmAddApplicationUser.userName.$pristine }">
                    <label for="inputName" class="col-sm-2 control-label">Tài khoản</label>
                    <div class="col-sm-10">
                        <input type="text" required required-message="Tài khoản bắt buột" class="form-control" name="userName"
                               ng-model="applicationUser.UserName" id="inputUserName" placeholder="Tài khoản">
                        <span ng-message="required" class="help-block"
                              ng-if="frmAddApplicationUser.userName.$invalid && !frmAddApplicationUser.userName.$pristine">Tài khoản bắt buột</span>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : frmAddApplicationUser.password.$invalid && !frmAddApplicationUser.password.$pristine }">
                    <label for="inputPassword" class="col-sm-2 control-label">Mật khẩu</label>
                    <div class="col-sm-10">
                        <input type="password" required required-message="Mật khẩu bắt buột" class="form-control" name="password"
                               ng-model="applicationUser.Password" id="inputPassword" placeholder="Mật khẩu">
                        <span ng-message="required" class="help-block"
                              ng-if="frmAddApplicationUser.password.$invalid && !frmAddApplicationUser.password.$pristine">Mật khẩu bắt buột</span>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : frmAddApplicationUser.email.$invalid && !frmAddApplicationUser.email.$pristine }">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" required required-message="Email bắt buột" class="form-control" name="email"
                               ng-model="applicationUser.Email" id="inputEmail" placeholder="Email">
                        <span ng-message="required" class="help-block"
                              ng-if="frmAddApplicationUser.email.$invalid && !frmAddApplicationUser.email.$pristine">Email bắt buột</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Điệh thoại</label>
                    <div class="col-sm-10">
                        <input type="tel" class="form-control" name="phoneNumber"
                               ng-model="applicationUser.PhoneNumber" id="inputPhoneNumber" placeholder="Điện thoại">
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : frmAddApplicationUser.birthDate.$invalid && !frmAddApplicationUser.birthDate.$pristine }">
                    <label for="inputBirthDate" class="col-sm-2 control-label">Ngày sinh</label>
                    <div class="col-sm-10">
                        <input type="text" as-date required required-message="Ngày sinh bắt buột" class="form-control" name="birthDate"
                               ng-model="applicationUser.BirthDate" id="datepicker" placeholder="Ngày sinh" date="dd/MM/yyyy">
                        <span ng-message="required" class="help-block"
                              ng-if="frmAddApplicationUser.birthDate.$invalid && !frmAddApplicationUser.birthDate.$pristine">Ngày sinh bắt buột</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <label ng-repeat="group in groups">
                            <input type="checkbox" checklist-model="applicationUser.Groups" checklist-value="group" /> {{group.Name}} &nbsp;
                        </label>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="application_users" class="btn btn-default">Hủy</button>
                <button ng-disabled="frmAddApplicationUser.$invalid" type="submit" class="btn btn-info pull-right">Lưu</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->

<script>
    $('#datepicker').datepicker({
        format: "dd/mm/yyyy",
        autoClose: true
    });
</script>