 <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới loại sản phẩm
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li>Nhóm người dùng</li>
        <li><a ui-sref="application_groups">Danh mục nhóm người dùng</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddApplicationGroup" role="form" ng-submit="addApplicationGroup()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Tên nhóm</label>
                    <div class="col-sm-10">
                        <input type="text" required ng-maxlength="256" class="form-control" name="name" ng-model="applicationGroup.Name" id="inputName" placeholder="Tên danh mục">
                        <span ng-show="frmAddApplicationGroup.name.$invalid && frmAddApplicationGroup.name.$dirty" class="has-error">
                            <span ng-show="frmAddApplicationGroup.name.$error.required">Phải nhập tên danh mục</span>
                            <span ng-show="frmAddApplicationGroup.name.$error.maxlength">Tên danh mục không được vượt quá 256 ký tự</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescription" class="col-sm-2 control-label">Mô tả</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="500" ng-model="applicationGroup.Description" name="description" id="inputDescription" placeholder="Mô tả">
                        <span ng-show="frmAddApplicationGroup.description.$invalid && frmAddApplicationGroup.description.$dirty" class="has-error">
                            <span ng-show="frmAddApplicationGroup.description.$error.maxlength">Mô tả không được vượt quá 500 ký tự</span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="product_categories" class="btn btn-default">Hủy</button>
                <button ng-disabled="frmAddApplicationGroup.$invalid" type="submit" class="btn btn-info pull-right">Lưu</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->